{

  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV"
      ]
    }],
    ["module:react-native-dotenv"],
    [
      "module-resolver",
      {
        "root": ["./"], //  This says the root of your project folder
        // To make your imports look better
        // Insert your whatever name to make alias for the imports
        // In this example I'm using @components to referring the components folder
        // That located inside src folder.
        // Note: You can make a lot of aliases in here
        "alias": {
          "@components": "./src/components/index.ts",
          "@screens": "./src/screens/Authenticator/index.ts",
          "@styles": "./src/assets/styles/index.ts",
          "@constants": "./src/constants.ts",
          "@UserContext": "./src/screens/Authenticator/AuthNavigator/index.tsx",
          "@NavStack": "./src/navigation/index.ts",
          "@Contexts": "./src/Contexts.ts",
          "@graphQL2": "./src/graphQL2/index.ts",
          "@utils": "./src/utils/index.ts",
          "@cache": "./src/cache.ts",
          "@localStore": "./src/utils/AsyncStorage/index.ts",
          "@validation": "./common/index.ts",
        }
      }
    ]
  ]
}
